<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.everyday.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.happy.everyday.entity.SysMenu">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_type" property="menuType" />
        <result column="menu_level" property="menuLevel" />
        <result column="menu_url" property="menuUrl" />
        <result column="parent_id" property="parentId" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_order" property="menuOrder" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="update_time" property="updateTime" />
        <result column="update_id" property="updateId" />
        <result column="update_name" property="updateName" />
        <result column="remark" property="remark" />
        <result column="reserve" property="reserve" />
        <result column="reserve1" property="reserve1" />
        <result column="reserve2" property="reserve2" />
        <result column="reserve3" property="reserve3" />
        <result column="reserve4" property="reserve4" />
        <result column="reserve5" property="reserve5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name AS menuName, menu_type AS menuType, menu_level AS menuLevel, menu_url AS menuUrl, parent_id AS parentId, menu_icon AS menuIcon, menu_order AS menuOrder, status, create_time AS createTime, create_id AS createId, create_name AS createName, update_time AS updateTime, update_id AS updateId, update_name AS updateName, remark, reserve, reserve1, reserve2, reserve3, reserve4, reserve5
    </sql>

</mapper>
